@import './utils';

.SassComponent {
    display: flex;
    padding: 100px;
    padding-top: 0px;
    background: #282c34;

    @include media('<768px') {
        background: white;
    }

    .box {
        // background: red;
        cursor: pointer;
        transition: all 0.5s ease-in;
        animation: App-logo-spin infinite 3s linear;
        margin: auto;

        &.red {
            background: $red;
            @include square(1);
        }

        &.orange {
            background: $orange;
            @include square(2);
        }

        &.yellow {
            background: $yellow;
            @include square(3);
        }

        &.green {
            background: $green;
            @include square(4);
        }

        &.blue {
            background: $blue;
            @include square(5);
        }

        &.indigo {
            background: $indigo;
            @include square(6);
        }

        &.violet {
            background: $violet;
            @include square(7);
        }

        &:hover {
            background: white;
        }
    }
}