.TodoListItem {
    padding: 1rem;
    padding-left: 5px;
    display: flex;
    align-items: center;

    &:nth-child(even) {
        background: #f8f9fa;
    }

    .Checkbox {
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;

        svg {
            font-size: 1.5rem;
        }

        .text {
            margin-left: 0.5rem;
            flex: 1;
        }

        &.checked {
            svg {
                color: #3A1D1D;
            }

            .text {
                color: #8d6363;
                text-decoration: line-through;
            }
        }
    }

    .remove {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            color: #8d6363;
        }
    }

    &+& {
        border-top: 1px solid #dee2e6
    }
}