.TodoBasic {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    overflow: hidden;

    .basic_title {
        background: #F7E600;
        color: #3A1D1D;
        height: 4rem;
        font-size: 1.5rem;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .basic_content {
        background-color: #e0e0e0;
        color: black;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}