@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

::selection {
    color: #424242;
    background-color: #bdbdbd;
}

* {
    scroll-behavior: smooth;
    font-family: 'Nanum Myeongjo', serif;
}

div {
    width: 30%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    vertical-align: top;
    border-radius: 1em;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 3px;
}

.card1 {
    background-color: #20C997;
    border: #20C997;
    height: 500px;
    position: absolute;
    z-index: 5;
    top: 200px;
    left: 10%;
    transition-duration: 0.3s;
}

.card1:hover {
    transform: translate(100px, -100px);
    transition-duration: 0.3s;
}

.card2 {
    background-color: #181717;
    border: #181717;
    height: 500px;
    color: white;
    position: absolute;
    z-index: 4;
    top: 200px;
    left: 20%;
    transition-duration: 0.3s;
}

.card2:hover {
    transform: translate(100px, -100px);
    transition-duration: 0.3s;
}

.card3 {
    background-color: #1877F2;
    border: #1877F2;
    height: 500px;
    color: white;
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 30%;
    transition-duration: 0.3s;
}

.card3:hover {
    transform: translate(100px, -100px);
    transition-duration: 0.3s;
}

.card4 {
    background-color: #03C75A;
    border: #03C75A;
    height: 500px;
    color: white;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 40%;
    transition-duration: 0.3s;
}

.card4:hover {
    transform: translate(100px, -100px);
    transition-duration: 0.3s;
}

.card5 {
    background-color: #424242;
    border: #424242;
    height: 500px;
    color: white;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 50%;
    transition-duration: 0.3s;
}

.card5:hover {
    transform: translate(100px, -100px);
    transition-duration: 0.3s;
}