@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* @media (max-width: 1730px) {
    h1 {
        display: none;
    }

    .btn_up1 {
        display: none;
    }

    .btn_down1 {
        display: none;
    }
} */

::selection {
    color: #424242;
    background-color: #bdbdbd;
}

* {
    scroll-behavior: smooth;
    font-family: 'Nanum Myeongjo', serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#page_h1 {
    text-align: center;
    border-top: 3px solid;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
}

.h1_article a {
    color: black;
}

.h1_article {
    letter-spacing: 3px;
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.2em;
    transition-duration: 0.3s;
}

#page_h1 .h1_article:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

#page_h2 {
    text-align: center;
    border-bottom: 3px solid;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: larger;
}

#page_h2 .h2_article:hover {
    filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 15px #6b6b6b) drop-shadow(0 0 15px #a0a0a0);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

.div1 {
    /* border: 3px solid #424242; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    transition-duration: 0.3s;
}

.div1:hover {
    transform: translateX(-10px) translateY(-5px);
    box-shadow: 15px 15px 15px black;
    transition-duration: 0.3s;
}

.div2 {
    /* border: 3px solid #424242; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    transition-duration: 0.3s;
}

.div2:hover {
    transform: translateX(-10px) translateY(-5px);
    box-shadow: 15px 15px 15px black;
    transition-duration: 0.3s;
}

#page_f {
    text-align: center;
    border-top: 3px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

#page_f p {
    padding-bottom: 10px;
    font-weight: bolder;
}

#page_f a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    border-radius: 0.3em;
    transition-duration: 0.3s;
}

#page_f a:hover {
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    /* filter: drop-shadow(0 0 5px #424242)
    drop-shadow(0 0 20px #6b6b6b)
    drop-shadow(0 0 20px #a0a0a0); */
    font-weight: bolder;
    transform: translateX(-2px) translateY(-1px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.btn_prev {
    position: fixed;
    left: 10px;
    top: 10px;
    size: 100px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 0.2em;
    border-style: none;
    background-color: white;
    transition-duration: 0.3s;
}

.btn_prev a {
    color: black;
}

.btn_prev:hover {
    transform: translateX(-2px) translateY(-1px);
    box-shadow: 5px 5px 10px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

.btn_next {
    position: fixed;
    right: 10px;
    top: 10px;
    size: 100px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 0.2em;
    border-style: none;
    background-color: white;
    transition-duration: 0.3s;
}

.btn_next a {
    color: black;
}

.btn_next:hover {
    transform: translateX(-2px) translateY(-1px);
    box-shadow: 5px 5px 10px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

#divs {
    text-align: center;
}

.p_li2 a,
.p_li1 a,
.p_li4 a,
.p_li5 a,
.p_li6 a {
    color: black;
}

.p_li2,
.p_li1,
.p_li4,
.p_li5,
.p_li6 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    border-radius: 0.2em;
    margin-left: 5px;
    margin-right: 5px;
    transition-duration: 0.3s;
}

.p_li2:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

.p_li1:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

.p_li4:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

.p_li5:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

.p_li6:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
    font-weight: bolder;
    transition-duration: 0.3s;
}

.p_li3 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.2em;
    font-weight: bolder;
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
}

.btn_up1 {
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 0.2em;
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 49.2%;
    top: 25%;
    font-size: 20px;
    font-weight: bolder;
    z-index: 2;
    width: 30px;
    height: 30px;
    transition-duration: 0.3s;
}

.btn_down1 {
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 0.2em;
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 49.2%;
    bottom: 25%;
    font-size: 20px;
    font-weight: bolder;
    z-index: 2;
    width: 30px;
    height: 30px;
    transition-duration: 0.3s;
}

.btn_up1:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.btn_down1:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.tooltip .tooltip_text {
    visibility: hidden;
    width: 150px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.3em;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    left: 20%;
    bottom: 120%;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip {
    position: relative;
}

.tooltip:hover .tooltip_text {
    opacity: 1;
    transform: translateX(-2px) translateY(-1px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
    visibility: visible;
}

.tooltip .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}