@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    font-family: 'Nanum Myeongjo', serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#page_h1 {
    text-align: center;
    border-top: 3px solid;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#page_h2 {
    text-align: center;
    border-bottom: 3px solid;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    vertical-align: middle;
}

.div1 {
    /* border: 3px solid #424242; */
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.div2 {
    /* border: 3px solid #424242; */
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#page_f {
    text-align: center;
    border-top: 3px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}

#page_f a {
    padding-left: 10px;
    padding-right: 10px;
}

.btn_prev {
    float: left;
}

.btn_prev {
    float: right;
}