@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@media (max-width: 1730px) {
    h1 {
        display: none;
    }

    .btn_up1 {
        display: none;
    }

    .btn_down1 {
        display: none;
    }
}

::selection {
    color: #424242;
    background-color: #bdbdbd;
}

* {
    font-family: 'Nanum Myeongjo', serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#page_h1 {
    text-align: center;
    border-top: 3px solid;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
}

.h1_article a {
    color: black;
}

.h1_article {
    letter-spacing: 3px;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.2em;
    transition-duration: 0.3s;
}

#page_h1 .h1_article:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

#page_h2 {
    text-align: center;
    border-bottom: 3px solid;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: larger;
}

#page_h2 .h2_article:hover {
    filter: drop-shadow(0 0 5px #ffffff)
    drop-shadow(0 0 15px #6b6b6b)
    drop-shadow(0 0 15px #a0a0a0);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

.div1 {
    border: 3px solid #424242;
    background-color: #ffffff;
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    letter-spacing: 5px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0.5em;
}

.div2 {
    border: 3px solid #424242;
    background-color: #ffffff;
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    letter-spacing: 5px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0.5em;
}

#page_f {
    text-align: center;
    border-top: 3px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}

#page_f a {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: blue;
}

#page_f a:hover {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #424242)
    drop-shadow(0 0 20px #6b6b6b)
    drop-shadow(0 0 20px #a0a0a0);
}

.btn_prev {
    position: fixed;
    left: 10px;
    top: 10px;
    size: 100px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 0.2em;
    border-style: none;
    background-color: white;
    transition-duration: 0.3s;
}

.btn_prev a {
    color: black;
}

.btn_prev:hover {
    transform: translateX(-2px) translateY(-1px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.btn_next {
    position: fixed;
    right: 10px;
    top: 10px;
    size: 100px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 0.2em;
    border-style: none;
    background-color: white;
    transition-duration: 0.3s;
}

.btn_next a {
    color: black;
}

.btn_next:hover {
    transform: translateX(-2px) translateY(-1px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.divs {
    text-align: center;
}

.p_li2, .p_li3, .p_li4, .p_li5, .p_li6 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.p_li1 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.2em;
    font-weight: bolder;
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 5px black;
}

.btn_up1 {
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 0.2em;
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 49.2%;
    top: 25%;
    font-size: 20px;
    font-weight: bolder;
    z-index: 2;
    width: 30px;
    height: 30px;
    transition-duration: 0.3s;
}

.btn_down1 {
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 0.2em;
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 49.2%;
    top: 29%;
    font-size: 20px;
    font-weight: bolder;
    z-index: 2;
    width: 30px;
    height: 30px;
    transition-duration: 0.3s;
}

.btn_up1:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.btn_down1:hover {
    transform: translateX(-1px) translateY(-0.5px);
    box-shadow: 5px 5px 10px black;
    transition-duration: 0.3s;
}

.container .div1 h1 {
    transform: translateX(-1px) translateY(-0.5px);
    text-shadow: 5px 5px 10px black;
}

.container .div2 h1 {
    transform: translateX(-1px) translateY(-0.5px);
    text-shadow: 5px 5px 10px black;
}

.container .div1 .h1_field .legend1 {
    text-align: left;
    transform: translateX(-1px) translateY(-0.5px);
    text-shadow: 5px 5px 10px black;
}

.container .div1 .h1_field .legend2 {
    text-align: right;
    transform: translateX(-1px) translateY(-0.5px);
    text-shadow: 5px 5px 10px black;
}

.container .div2 .h2_field .legend1 {
    text-align: left;
    transform: translateX(-1px) translateY(-0.5px);
    text-shadow: 5px 5px 10px black;
}

.container .div2 .h2_field .legend2 {
    text-align: right;
    transform: translateX(-1px) translateY(-0.5px);
    text-shadow: 5px 5px 10px black;
}

.div1 .h1_field {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.div1 fieldset {
    height: 380px;
    border-radius: 0.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div2 .h2_field {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.div2 fieldset {
    height: 380px;
    border-radius: 0.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div1 fieldset p {
    text-align: left;
    font-size: 20px;
    line-height: 50px;
}

.div2 fieldset p {
    text-align: left;
    font-size: 20px;
    line-height: 50px;
}

.div1 fieldset p {
    text-align: left;
    font-size: 20px;
    line-height: 50px;
}

.div2 fieldset p {
    text-align: left;
    font-size: 20px;
    line-height: 50px;
}

.p_a1 {
    color: black;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
}

.p_a1:hover {
    color: black;
    font-weight: bolder;
    filter: drop-shadow(0 0 5px #ffffff)
    drop-shadow(0 0 15px #6b6b6b)
    drop-shadow(0 0 15px #a0a0a0);
    transition-duration: 0.3s;
}

.p_a2 {
    color: black;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
}

.p_a2:hover {
    color: black;
    font-weight: bolder;
    filter: drop-shadow(0 0 5px #ffffff)
    drop-shadow(0 0 15px #6b6b6b)
    drop-shadow(0 0 15px #a0a0a0);
    transition-duration: 0.3s;
}