@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Hahmlet', serif;
  text-decoration: none;
}

.h1_article {
  white-space: pre-wrap;
}

::selection {
  color: #424242;
  background-color: #bdbdbd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.black_h1 {
  background: #282c34;
  width: 100%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.black_h1 a {
  color: white;
  transition-duration: 0.5s;
}

.black_h1 a:hover {
  color: yellow;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.lists {
  font-size: 20px;
  line-height: 50px;
  padding-left: 10px;
}

.lists a {
  color: black;
  transition-duration: 0.5s;
}

.lists a:hover {
  color: red;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.articles {
  line-height: 50px;
  background: #eee;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin:20px;
  margin-top: 20px;
  white-space: pre-wrap;
  border-radius: 0.7em;
  transition-duration: 0.5s;
}

.articles:hover {
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.create_btn {
  color: black;
  font-size: large;
  transition-duration: 0.5s;
}

.create_btn:hover {
  color: blue;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.update_btn {
  color: black;
  font-size: large;
  transition-duration: 0.5s;
}

.update_btn:hover {
  color: blue;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.delete_btn {
  color: black;
  font-size: 18px;
  border: none;
  background: white;
  cursor: pointer;
  transition-duration: 0.5s;
  padding-left: 1px;
}

.delete_btn:hover {
  color: blue;
  border: none;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.create_input, .create_textarea {
  background: #eee;
  padding: 5px;
  border-radius: 0.3em;
  border: 0;
  font-size: 20px;
  transition-duration: 0.5s;
  width: 90%;
}

.create_input:hover {
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.create_textarea:hover {
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.create_submit {
  background: #eee;
  padding: 5px;
  border-radius: 0.3em;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.5s;
}

.create_submit:hover {
  font-weight: bolder;
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.create_article {
  margin-left: 20px;
}

.update_input, .update_textarea {
  background: #eee;
  padding: 5px;
  border-radius: 0.3em;
  border: 0;
  font-size: 20px;
  transition-duration: 0.5s;
  width: 90%;
}

.update_input:hover {
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.update_textarea:hover {
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.update_submit {
  background: #eee;
  padding: 5px;
  border-radius: 0.3em;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.5s;
}

.update_submit:hover {
  font-weight: bolder;
  transform: translateX(-0.5px) translateY(-0.2px);
  box-shadow: 5px 5px 10px black;
  transition-duration: 0.5s;
}

.update_article {
  margin-left: 20px;
}

.btn_list {
  line-height: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
